.checkbox-container {
	&-item {
		margin-left: 30px;
		&:first-child{
			margin-left: 0;
		}
	}
}
.paddin15 {
	padding: 15px;
}

.text-area-container {
	width: 100%;
	height: 80px;
	padding: 15px;
	box-sizing: border-box;

	.text-area {
		width: 100%;
		height: 100%;
		resize: none;
	}
}