%display-flex {
	display: flex;
}

%flex {
	flex: 1;
}

.fm-tabs {
	position: relative;
	background-color: #fff;
	padding-top: 44px;

	&-nav {
		@extend %display-flex;
		position: fixed;
		top: 0;
		left: 0;
		height: 44px;
		width: 100%;
		background-color: #fff;
	}

	&-nav > &-tab {
		@extend %flex;

		font-size: 14px;
		line-height: 44px;
		/* 为行内元素在部分andriod机上不兼容设置 */

		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 100%;

		text-align: center;

		color: #666;
		background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#e5e5e5)) bottom left no-repeat;
		background: -webkit-linear-gradient(270deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat;
		background:         linear-gradient(180deg, #e5e5e5, #e5e5e5, rgba(229, 229, 229, 0)) bottom left no-repeat;
		background-size: 100% 1px;

		&.selected {
			color: #FF552E;
			border-bottom: 2px solid #FF552E;
		}
	}


	&-content {
		min-height: 44px;
		padding: 0 14px;
		@extend %display-flex;
	}

	&-content > &-panel {
		@extend %flex;
		display: none;
		&.selected {
			display: block;
		}
	}
}

.fm-tabs-bottom {
	padding-top: 0;
	.fm-tabs-nav {
		top:auto;
		bottom: 0;
		z-index: 99;
		border-top: 1px solid #efefef;

		.fm-tabs-tab {
			border-right: 1px solid #efefef;

			&.selected {
				border-bottom: 0;
			}
			:last-child {
				border-right: 0;
			}
		}
	}

	.fm-tabs-content {
		padding: 0;
		padding-bottom: 44px;
	}
}